body{
    background-image: url(img/wallpaper\ calculadora.jpg);
}
div.calculadora{
    border-color: transparent;
    border-style: solid;
    border-radius: 8px;
    width: 600px;
    padding: 25px 10px 45px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: auto;

}

#tela{
    width: 550px;
    margin-bottom: 50px;
    margin-left: 15px;
    border-color: transparent;
    border-radius: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.2);
}
#button_conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 550px;
    grid-gap: 40px;
}
#botoes_numericos{
    display: grid;
    grid-template-columns: 95px 95px 95px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 6px;
    margin-left: 12px;
}
#botoes_especiais{
    display: grid;
    grid-template-columns: 110px 110px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 6px;
}
button{
    background-color: rgba(235, 233, 233,0.25);
    color: #5a5959;
    border-color: transparent;
    border-style:solid;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(235, 233, 233,0.4);
}
#Del{
    background-color: rgba(247, 77, 77, 0.4);
    color: rgba(255, 245, 238, 0.774);
    font-size: 30px;
}
button#Del:hover{
    background-color: rgba(248, 77, 77, 0.6);
}
#igual{
    background-color: rgba(158, 243, 30,0.4);
    color: rgb(255, 245, 238);
    font-size: 50px;
    border-style: solid;
}
button#igual:hover{
    background-color: rgba(158, 243, 30, 0.5); 
}
footer{
    text-align: center;
    margin-top: auto;
}